.header
    .header__up
        .header__logo 
            img(src="image 63.png")
        .header__main 
            .header__head
                a.header__phone(href="tel:+74957275213")
                    img.header__icon(src="call.png")
                    span +7 495 727-52-13
                .header__socials 
                    a.header__whatsapp(href="")
                        img.header__socials-icon(src="whatsapp.png")
                    a.header__telegram(href="")
                        img.header__socials-icon(src="telegram.png")
                a.header__email(href="mailto:info@compstone.ru") 
                    img.header__icon(src="email.png")
                    span info@compstone.ru
                .header__jobtime 
                    div Пн - Пт: 9:00 - 18:00
                    div Сб - ВС: Выходной
                button.header__call Заказать звонок
            .header__body
                .header__search 
                    input(type="text", placeholder="Поиск")
                    button.header__search-button
                        img.header__search-icon(src="search.png")
                ul.header__indicators 
                    li.header__indicator.header__user
                        a(href="")
                            img(src="user.png")
                            .header__mark 
                    li.header__indicator.header__like
                        a(href="")
                            img(src="heart.png")
                            .header__mark 0
                    li.header__indicator.header__cart
                        a(href="")
                            img(src="cart.png")
                            .header__mark 1
                    li.header__indicator.header__bundle
                        a(href="")
                            img(src="box.png")
                            .header__mark 1

    .header__menu
        .header__catalog Каталог товаров
        ul.header__list 
            li
                a(href="") О компании
            li
                a(href="") Покупателям
            li
                a(href="") Производители
            li
                a(href="") Акции
            li
                a(href="") Доставка и оплата
            li
                a(href="") Контакты