.mozaic1613
    display: block

    &__body
        color: #fff
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(3, 1fr)
        gap: r1920(40)
        grid-template-areas: "first first second third" "fourth fivth seventh seventh" "fourth sixth seventh seventh"

        & > *:not(:first-child)
            padding: r1920(70)

        @media (width <= 1024px)
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(4, 1fr)
            grid-template-areas: "first first third" "fourth fivth second" "fourth seventh seventh" "sixth seventh seventh"

        @media (width <= 768px)
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(6, min-content)
            grid-template-areas: "first first" "second third" "fourth fivth" "fourth sixth" "seventh seventh" "seventh seventh"

        @media (width <= 500px)
            grid-template-columns: 100%
            grid-template-rows: repeat(7, min-content)
            grid-template-areas: "first" "second" "third" "fourth" "fivth" "sixth" "seventh"

    #mozaic-first
        grid-area: first

    #mozaic-second
        grid-area: second

    #mozaic-third
        grid-area: third

    #mozaic-fourth
        grid-area: fourth
        background: url("images/mozaic/4.jpg") no-repeat
        background-size: cover
        color: #fff

        .mozaic-block__header
            translate: 0

        @media (width <= 768px)
            min-height: 206px
            background: url("images/mozaic/banner.webp") no-repeat
            background-size: cover
            background-position: center

            .mozaic-block__filter
                background: linear-gradient(#025EA1A0 , transparent 100%)

    #mozaic-fivth
        grid-area: fivth

    #mozaic-sixth
        grid-area: sixth

    #mozaic-seventh
        grid-area: seventh

        svg
            flex: 0 0 29px

    &__item
        color: inherit
        text-decoration: none
        position: relative
        &--first
            img
                width: 100%
                height: 100%
                object-fit: cover
                object-position: center
        &--last
            padding: r1920(50)
            display: flex
            flex-direction: column
            justify-content: space-between

            & > div
                display: flex
                justify-content: space-between
                align-items: center
                column-gap: 2rem

            p
                font-size: fz1920(12,20)
                margin-bottom: 1rem
