include ../../components/mozaic-block/mozaic-block.pug
.mozaic1613.block
    .container-main.mozaic1613__container
        h2.title.mozaic1613__title ПРОЕКТЫ И НОВОСТИ РЭНЕРА
        .mozaic1613__body
            .mozaic1613__item.mozaic1613__item--first#mozaic-first
                img(src="images/mozaic/1.jpg" alt="")
            +mozaic-block("Новости компании","14.08.2023","#7F7F7F")(id="mozaic-second")
                p РЭНЕРА обеспечит аккумуляторными батареями российские электромобили АТОМ
            +mozaic-block("Новости компании","14.08.2023","#6CACE3")(id="mozaic-third")
                p Росатом объявляет набор студентов для подготовки специалистов первой российской гигафабрики накопителей энергии
            +mozaic-block("ESG","","")(id="mozaic-fourth" href="https://renera.ru/company/ustojchivoe-razvitie/")
                p Курс на содействие Целям устойчивого развития ООН - одна из важнейшик задач компании
            +mozaic-block("Карьера","","#48C096")(id="mozaic-fivth" href="https://renera.ru/kariera/")
                p Станьте частью команды РЭНЕРА на современных производствах и в офисах компании
            +mozaic-block("Ассоциация","","#003274")(id="mozaic-sixth" href="https://renera.ru/development/")
                p РЭНЕРА лидирует создание и развитие ассоциации развития технологий систем накопления электроэнергии
            a.mozaic1613__item.mozaic1613__item--last(id="mozaic-seventh" style="background: #025EA1;" href="")
                div
                    h4.mozaic-block__title Первая в России гигафабрика мощностью 4 гВт•ч
                    svg(width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M8 7C7.44772 7 7 7.44772 7 8C7 8.55228 7.44772 9 8 9V7ZM28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM8 9L28 9V7L8 7V9Z" fill="white")
                        path(d="M4 8H1" stroke="white" stroke-width="2" stroke-linecap="round")
                p По производству литий-ионных аккумуляторов и модулей
                img(src="images/mozaic/7.jpg" alt="")