.all-solutions

    &__body
        position: relative

    &__select
        display: block
        text-decoration: none
        width: 60vw
        font-size: fz1920(16,30)
        font-weight: 500

        @media (width <= 1024px)
            width: 100%
            position: relative
            background: #F5F5F5

            display: grid
            grid-template-columns: 1fr max(20vw,95px)

        & + &
            margin-top: 15px

        &[active="true"]
            .all-solutions__item
                color: var(--clr-blue)
                font-weight: 700

            .all-solutions__button
                background: var(--clr-blue)
                color: #fff
                border-color: transparent

            img
                opacity: 1

        img
            position: absolute
            opacity: 0
            transition: opacity 0.4s
            top: 0
            right: 0
            bottom: 0
            margin-block: auto
            width: 30vw
            pointer-events: none

            @media (width <= 1024px)
                position: static
                opacity: 1

    &__item
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1rem
        padding: min(30px, 3vw) min(40px, 4vw)
        background: #F5F5F5
        color: #4F4F4F

        @media (width <= 1024px)
            flex-direction: column

        @media (width <= 580px)
            width: 100%

    &__caption
        flex-basis: 70%
        font-size: fz1920(12,30)

        @media (width <= 600px)
            flex-basis: 100%
            text-align: center

    &__button
        color: #4F4F4F
        font-size: 20px
        font-weight: 600
        text-transform: uppercase
        padding: 0.9em 2em
        border-radius: 30px
        border: 1px solid #4F4F4F
        transition: 0.4s
        font-size: fz1920(12,20)
        font-weight: 500
        text-decoration: none
