.all-solutions.block 
    .container.all-solutions__container 
        h2.title.all-solutions__title ВСЕ РЕШЕНИЯ РЭНЕРА
        .all-solutions__body 
            each i,idx in allSolutions 
                a.all-solutions__select(href="") 
                    .all-solutions__item
                        .all-solutions__caption !{i.caption} 
                        .all-solutions__button(role="button") ПЕРЕЙТИ 
                    img(src= i.img, alt="")