.form-component1056
    .form-component1056__container
        h2.form-component1056__title ПОДОБРАТЬ РЕШЕНИЕ ДЛЯ ВАШЕГО БИЗНЕСА
        .form-component1056__buttons 
            a.no-barba(href="https://renera.ru/production/") ПРОДУКТЫ
            a.no-barba(href="https://renera.ru/production/energy/") РЕШЕНИЯ
            a.green-button#submit_your_application(href="#") ОСТАВИТЬ ЗАЯВКУ