.popular1410
    h2.title.popular1410__title ПОПУЛЯРНЫЕ РЕШЕНИЯ РЭНЕРА
    .popular1410__grid 
        .popular1410__block.popular1410__block--left
            img(src="images/popular/left.jpg" alt="")

            .popular1410__front
                h3.popular1410__caption ТЯГОВЫЕ АККУМУЛЯТОРЫ ДЛЯ ЭЛЕКТРОТРАНСПОРТА
                .popular1410__text
                    span Тяговые литий-ионные батареи модульного типа
                    ul 
                        li для электромобилей
                        li для электробусов
                        li для троллейбусов с увеличенным автономным ходом
                        li для электрогрузовиков 
                a.blue-button(href="") СМОТРЕТЬ

        .popular1410__block.popular1410__block--right
            img(src="images/popular/right.jpg" alt="")
            .popular1410__front
                h3.popular1410__caption СИСТЕМЫ НАКОПЛЕНИЯ ЭНЕРГИИ И ИБП ДЛЯ ЭНЕРГЕТИКИ И ПРЕДПРИЯТИЙ
                .popular1410__text
                    span Системы накопления энергии на литий-ионных аккумуляторах
                    ul 
                        li для энергетических сетей и генерации
                        li для систем оптимизации стоимости электроснабжения
                        li для центров обработки данных
                        li для зарядных сетей
                a.blue-button(href="") СМОТРЕТЬ