.advantage1723
    display: grid
    grid-template-rows: 58px max-content
    gap: 20px
    &__head
        width: max-content
        margin-inline: auto
        display: flex
        align-items: flex-start
        line-height: 1
        // margin-bottom: 20px

        @media (width <= 1024px)
            flex-direction: column-reverse
            align-items: flex-end

        span
            display: block
            font-size: 50px
            font-weight: 500

        sup
            display: block
            font-size: 15px
            font-weight: 500

    &__foot
        font-size: 20px
        font-weight: 500
        text-transform: uppercase
        text-align: center
