.first-article1710.block
    .container.first-article1710__container 
        h2.title.first-article1710__title РЭНЕРА — РОСАТОМ 
            br 
            |ЭНЕРГО&shy;АККУМУЛИ&shy;РУЮЩИЕ РЕШЕНИЯ
        .first-article1710__description 
            p Крупнейший производитель литий-ионных аккумуляторов и накопителей энергии в России с собственными производственными активами и научно-техническими центрами разработки (R&D).
            p Компания постоянно совершенствует технологии и занимается исследованием перспективных и альтернативных технологий накопления энергии, имеет 63 патента и 50 ноу-хау.
        include ../../components/advantages1721/advantages1721.pug
        a.blue-button.first-article1710__button(href="files/Katalog_Renera_210х297.pdf" target="_blank" ) Смотреть буклет о компании