extends ../pug/templates/template.pug
block main 
    include ../articles/tizer1653/tizer1653.pug
    include ../articles/first-article1710/first-article1710.pug
    include ../articles/popular1410/popular1410.pug
    include ../articles/universal1527/universal1527.pug
    include ../articles/mozaic1613/mozaic1613.pug