.universal1527
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    padding-inline: r1920(100)
    background: linear-gradient(0deg, rgba(#D9D9D9, .3) 0.01%, rgba(#AAA,.3) 0.96%, rgba(#F2F2F2, .3) 100%)
    min-height: 300px
    img
        width: min(353px, 20vw)

    &__front
        position: absolute
        inset: 0
        background: #0000

        &:hover
            backdrop-filter: blur(4px)
            .universal1527__front-container
                height: 50%
            .universal1527__text
                grid-template-rows: 1fr
            .blue-button.universal1527__button
                grid-template-rows: 1fr
                padding: 1vmin 2vmin

            @media (width <= 425px)
                .universal1527__front-container
                    width: calc(100% - 2em)
                    transition: height 0.4s 0.4s, width 0.4s

    &__front-container
        position: absolute
        inset: 0
        z-index: 1
        width: 50%
        height: 20%
        margin: auto
        transition: height 0.4s, width 0.4s 0.4s

    &__caption
        text-align: center
        font-size: fz1920(16,40)
        font-weight: 500
        text-transform: uppercase
        margin-bottom: 20px

    &__text
        text-align: center
        font-size: fz1920(12,20)
        margin-bottom: 30px
        display: grid
        grid-template-rows: 0fr
        transition: grid-template-rows 0.4s

        & > div
            overflow-y: hidden
            line-height: 1

    &__button.blue-button
        display: block
        width: max-content
        margin-inline: auto
        display: grid
        padding: 0
        grid-template-rows: 0fr
        transition: grid-template-rows 0.4s

        & > div
            overflow-y: hidden
