.universal1527.block
    .universal1527__left
        img(src="images/cells/3.png" alt="")
    .universal1527__right
        img(src="images/modules/module.png" alt="")
    .universal1527__front
        .universal1527__front-container
            h3.universal1527__caption универсальные литий-ионные ячейки и модули
            .universal1527__text
                div Единый форм-фактор литий-ионных ячеек и модулей способствует унификации архитектурных решений и повышению универсальности продукции
            a.blue-button.universal1527__button(href="https://renera.ru/litievye-nakopiteli/")
                div СМОТРЕТЬ
