@import "@var"
@import "sass/_fonts.css"
@import "sass/_mixins"
@import "components/**/*.sass"
@import "articles/**/*.sass"

:root
    --index: calc(1vw + 1vh)
    --header-height: 112px
    --clr-blue: #025EA1

*,*::after,*::before
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font-family: 'Graphik LCG', sans-serif
    // width: 100vw
    // overflow-x: hidden

h1,h2,h3, h4, h5
    font-family: 'TT Firs Neue'

img, video
    max-width: 100%

a:hover
    color: inherit

main.main
    margin-top: var(--header-height)

.container
    padding-inline: 1rem
    width: min(1720px + 2rem, 100% - 2rem )
    margin-inline: auto

.title
    color: #000
    text-align: center
    font-size: fz1920(22,50)
    font-weight: 500
    margin-bottom: min(60px, 6vh)

.any-button
    border-radius: 33px
    border: none
    padding: 1em 2em
    margin: 0 0.5rem 0 0
    white-space: nowrap
    text-decoration: none
    cursor: pointer
    text-transform: uppercase

.blue-button
    @extend .any-button
    color: #fff
    background: var(--clr-blue)
    &:hover
        color: #fff
.block
    margin-bottom: min(130px, 13vh)

    @media (width <=768px)
        margin-bottom: 10vh

:is(.splide, .splide__track, .splide__list, .splide__slide)
    height: 100%

button.splide__arrow--prev
    left: 0.5em
    background: #0000 url("images/icons/arrow-left-1.png") no-repeat
    background-size: contain
    border-radius: 0
    svg
        display: none
button.splide__arrow--next
    right: 0.5em
    background: #0000 url("images/icons/arrow-right-1.png") no-repeat
    background-size: contain
    border-radius: 0
    svg
        display: none

#submit_your_application
    border-radius: 100px
    min-width: 200px
    padding-inline: 1em
    border: 1px solid #fff
    display: grid
    place-items: center
