include ../../pug/splides.pug
include ../../components/tizer-block/tizer-block.pug
.tizer1653.block
    //- +splide("tizer1653",tizer)
    //-     +tizer-block(val,index)
    section.splide(id="tizer1653")
        .splide__track
            ul.splide__list
                li.splide__slide(data-splide-interval=5000)
                    .tizer-block
                        video(src="video/short.mp4", muted, autoplay, loop)
                        .tizer-block__body.container
                            h2.tizer-block__title.title РОССИЙСКИЙ ПРОИЗВОДИТЕЛЬ ЛИТИЙ-ИОННЫХ БАТАРЕЙ И НАКОПИТЛЕЙ ЭНЕРГИИ
                            a.tizer-block__button.any-button(href="#popular1410") ПЕРЕЙТИ К РЕШЕНИЯМ
                li.splide__slide(data-splide-interval=5000)
                    .tizer-block
                        img(src="images/tizer/0270.jpg" alt="plant")
                        .tizer-block__body.container
                            h2.tizer-block__title.title В 2025 ГОДУ ОТКРЫВАЕМ <br/> ПЕРВЫЙ ЗАВОД В <br/> КАЛИНИН&shy;ГРАДСКОЙ ОБЛАСТИ
                            p.tizer-block__text Приглашаем на работу сотрудников, а также партеров по комплектующим
                            .tizer-block__buttons
                                a.tizer-block__button.any-button(href="https://renera.ru/kariera/") РАБОТА НА ЗАВОДЕ
                                a.blue-button(href="") СТАТЬ ПАРТНЕРОМ
                li.splide__slide(data-splide-interval=5000)
                    .tizer-block
                        img(src="images/tizer/asian-engineer-technician-work-ev-260nw-2246589349.webp" alt="asian engineer" style="filter:brightness(0.5)")
                        .tizer-block__body.container
                            h2.tizer-block__title.title ВАКАНСИИ<br/> РЭНЕРА
                            p.tizer-block__text Узнайте, как стать частью компании сегодня, а также обучаться востребованным в РЭНЕРА профессиям
                            a.tizer-block__button.any-button(href="https://renera.ru/kariera/") УЗНАТЬ БОЛЬШЕ
